body {
background: ##00aa77;
background-image: url("../media/images/ZenBG-1.png"), url("../media/images/ZenBG-2.png");
background-repeat: repeat-x, repeat;
display:table-cell;
text-align:center;
vertical-align:middle;
}
